nav {
    height: 10%;
    width: 100%;
    background-color: cornflowerblue;
    text-shadow: 5px 5px 20px lightskyblue;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

li {
    margin: 20px;
}

a, a:visited {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}