.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    display: none;
    position: fixed;
    background-color: lightblue;
}